<div>
    <h2 id="page-heading">
        <span>Covid Updates</span>

<!--         <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-covid-updates" [routerLink]="['/covid-updates/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Covid Updates
            </span>
        </button> -->
    </h2>

    <jhi-alert-error></jhi-alert-error>


    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="covidUpdates?.length === 0">
        <span>No covidUpdates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="covidUpdates && covidUpdates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                   
                    <th scope="col"  jhiSortBy="title"><span>Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content"><span>Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="source"><span>Source</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="domain"><span>Author</span> <fa-icon icon="sort"></fa-icon></th>
                  <!--   <th scope="col"  jhiSortBy="image"><span>Image</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"  jhiSortBy="publishedAt"><span>Published At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let covidUpdates of covidUpdates ;trackBy: trackId">
                    
                    <td>{{ covidUpdates.title }}</td>
                    <td>{{ covidUpdates.content }}</td>
                    <td>{{ covidUpdates.source }}</td>
                    <td>{{ covidUpdates.domain }}</td>
                   <!--  <td><img    src="{{covidUpdates.image}}"></td> -->
                    <td>{{ covidUpdates.publishedAt | date :'short'}}</td>
                 
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/covid-updates', covidUpdates.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

<!--                             <button type="submit"
                                    [routerLink]="['/covid-updates', covidUpdates.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(covidUpdates)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="covidUpdates && covidUpdates.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
